<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <meta name="viewport"  content="width=device-width, initial-scale=1.0" />
      <title> submition</title>
      <link rel="stylesheet" hrel="/static/style.css"/>
    </head>
    <body> 
        <h1> submition</h1>
        {% for enrty in entries %}
           {{ predict() }}
        {% endfor %}
    </body>
</html>